<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body>
        <h2>Name: Domen</h2>
        <h2>Last name: Oslaj</h2>
        <h2>Date of birth: 27.12.1989</h2>
        <h2>State: Slovenia</h2>
    </body>
</html>